# Ignore virtual environment
env/

# Ignore all files in models/
models/*

# Except these files in models/
!models/liver-model.pkl

# You can un-ignore additional files like this:
!models/classifier.py
!models/symptom_description.csv
!models/symptom_precaution.csv
!models/symptom_severity.csv
!models/training.csv
!models/transcribe.py
!models/utils.py

# Bytecode and cache
__pycache__/
*.py[cod]

# SQLite DB file
db.sqlite3

# Environment files
.env

# System/IDE files
*.DS_Store
.vscode/
.idea/
